footer{ /* 푸터 전체 */
	position:relative;
	width:100%; /* body width에 맞춤 */
	height:200px;
	background-color:lightgray;
	padding-top:10px;
	padding-bottom:50px;
	align-self:unset;
}
#footer_wrap{
	width:90%;
	height:70%;
	margin:0 auto;
}
#footer_SNS{
	display:flex;
	align-items:center;
	justify-content:right;
}
#footer_SNS h3{
	margin-right:20px;
}
#footer_SNS ul li{
	display:inline-block;
	cursor:pointer;
	margin:0 5px;
}
#footer_SNS ul li img{
	width:1.5em;
	height:1.5em;
}
#footer_SNS ul li span{
	font-size:0.9em;
}

#footer_bar{
	border-top:2px solid black;
	margin:10px 0;
}
#footer_text{
	margin:10px;
	line-height:1.5em;
}
#footer_text .bold_text{
	font-weight:bold;
}